<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> No existe </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="1;url=/" />
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="\assets\img\favicon.ico">

		<!-- CSS here -->
        <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="/stylesheets/index/owl.carousel.min.css">
            <link rel="stylesheet" href="/stylesheets/index/slicknav.css">
            <link rel="stylesheet" href="/stylesheets/index/flaticon.css">
            <link rel="stylesheet" href="/stylesheets/index/animate.min.css">
            <link rel="stylesheet" href="/stylesheets/index/magnific-popup.css">
            <link rel="stylesheet" href="/stylesheets/index/fontawesome-all.min.css">
            <link rel="stylesheet" href="/stylesheets/index/themify-icons.css">
            <link rel="stylesheet" href="/stylesheets/index/slick.css">
            <link rel="stylesheet" href="/stylesheets/index/nice-select.css">
            <link rel="stylesheet" href="/stylesheets/index/style.css">
            
   </head>

   <body>
    <!-- Preloader Start -->
