<%- include layouts/error.ejs %> 
<main>
    <!-- Slider Area Start-->

    <!-- Slider Area End -->
    <!--Services Area Start -->
    <div class="services-area section-padding30 fix">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-100">
                        <span>Nuestros servicios  </span>
                        <h2>Disfruta de nuestros mejores servicios</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span class="flaticon-server"></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="services.html">Juegos</a></h3>
                                <p>Disfruta de nuestros juegos sin costo, no te quedes con las ganas de probarlo!</p>
                                <a href="services.html" class="get-btn"><i class="ti-arrow-right"></i>Ver más...</a>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.01</span>
                            <img src="\assets\img\gallery\shape-services.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span class="flaticon-green"></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="services.html">Fotos</a></h3>
                                <p>Disfruta de las mejores fotos recien bajadas de las mejores plataformas de fotografías!</p>
                                <a href="services.html" class="get-btn"><i class="ti-arrow-right"></i>Ver más...</a>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.02</span>
                            <img src="assets\img\gallery\shape-services.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span class="flaticon-servers"></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="services.html">Juegos de mesa</a></h3>
                                <p>Quieres jugar como local u online, compite y demuestra de que estas hecho!</p>
                                <a href="services.html" class="get-btn"><i class="ti-arrow-right"></i> Ver más...</a>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.03</span>
                            <img src="/assets/img/gallery/shape-services.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->

</main>