<%- include ../layouts/header_index.ejs %> 
<main>
    <!-- Slider Area Start-->
    <div class="slider-area slider-bg ">
        <div class="slider-active dot-style">
            <div class="single-slider d-flex align-items-center slider-height ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".3s">Bienvenidos al portal Users <%=roles.id_menu %>! </h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">El portal administrativo nunca jamas conocido. <%=user.name %></p>
                                <!-- Slider btn -->
                               <div class="slider-btns">
                                    <!-- Hero-btn -->
                                    <a data-animation="fadeInLeft" data-delay="1s" href="industries.html" class="btn radius-btn">get started</a>
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right">
                                <img src="\assets\img\hero\hero_right.png" alt="" data-animation="fadeInRight" data-delay="1s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="single-slider d-flex align-items-center slider-height ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".3s">Buscamos solución a tu problema! </h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Mejora la administración de tus perfiles.</p>
                                <!-- Slider btn -->
                               <div class="slider-btns">
                                    <!-- Hero-btn -->
                                    <a data-animation="fadeInLeft" data-delay="1s" href="industries.html" class="btn radius-btn">get started</a>
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right">
                                <img src="\assets\img\hero\hero_right.png" alt="" data-animation="fadeInRight" data-delay="1.5s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="single-slider d-flex align-items-center slider-height ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".3s">No te limites a crear código estatico! </h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">La mejor calidad de un servicio web, se encuentra en la escalabilidad.</p>
                                <!-- Slider btn -->
                               <div class="slider-btns">
                                    <!-- Hero-btn -->
                                    <a data-animation="fadeInLeft" data-delay="1s" href="industries.html" class="btn radius-btn">get started</a>
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right">
                                <img src="\assets\img\hero\hero_right.png" alt="" data-animation="fadeInRight" data-delay="1.5s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="\assets\img\hero\top-left-shape.png" alt="">
            <img class="slider-shape2" src="\assets\img\hero\right-top-shape.png" alt="">
            <img class="slider-shape3" src="\assets\img\hero\left-botom-shape.png" alt="">
        </div>
    </div>
    <!-- Slider Area End -->
    <!--Services Area Start -->
    <div class="services-area section-padding30 fix">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-100">
                        <span>Nuestros servicios</span>
                        <h2>Disfruta de nuestros mejores servicios</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span class="flaticon-server"></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="services.html">Juegos</a></h3>
                                <p>Disfruta de nuestros juegos sin costo, no te quedes con las ganas de probarlo!</p>
                                <a href="services.html" class="get-btn"><i class="ti-arrow-right"></i>Ver más...</a>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.01</span>
                            <img src="\assets\img\gallery\shape-services.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span class="flaticon-green"></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="services.html">Fotos</a></h3>
                                <p>Disfruta de las mejores fotos recien bajadas de las mejores plataformas de fotografías!</p>
                                <a href="services.html" class="get-btn"><i class="ti-arrow-right"></i>Ver más...</a>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.02</span>
                            <img src="assets\img\gallery\shape-services.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span class="flaticon-servers"></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="services.html">Juegos de mesa</a></h3>
                                <p>Quieres jugar como local u online, compite y demuestra de que estas hecho!</p>
                                <a href="services.html" class="get-btn"><i class="ti-arrow-right"></i> Ver más...</a>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.03</span>
                            <img src="/assets/img/gallery/shape-services.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->

</main>

<%- include ../layouts/footer_index.ejs %> 