<%- include ../layouts/header_index.ejs %> 
<main>
    <!-- Slider Area Start-->
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <div class="slider-active dot-style">
                <div class="single-slider d-flex align-items-center slider-height ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".3s">Sesión de Juegos</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Disfruta de las mejores videojuegos plataforma</p>
                                    <!-- Slider btn -->
                                   <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a data-animation="fadeInLeft" data-delay="1s" class="btn radius-btn">Empezar</a>
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img src="\assets\img\hero\palanca-de-mando_grande.png" width="400px" alt="" data-animation="fadeInRight" data-delay="1s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            <!-- Slider Shape -->
        </div>

    <!-- Slider Area End -->
    <!--Services Area Start -->
    <div class="services-area section-padding30 fix">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-100">
                        <span>Video juegos</span>
                        <h2>Top de los mejores video juegos</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="\assets\img\hero\call_of_duty.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title">Call of duty</h4>
                          <p class="card-text">Disfruta de nuestros video juegos!</p>
                          <a href="#" class="btn btn-primary">Jugar</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="\assets\img\hero\fornite.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title">Fornite</h4>
                          <p class="card-text">Disfruta de nuestros video juegos!</p>
                          <a href="#" class="btn btn-primary">Jugar</a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="\assets\img\hero\eurotruck.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title">Euro truck</h4>
                          <p class="card-text">Disfruta de nuestros video juegos!</p>
                          <a href="#" class="btn btn-primary">Jugar</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->

</main>

<%- include ../layouts/footer_index.ejs %> 