<!DOCTYPE html>
<html lang="en">
<head>
	<title>| Plataformauser - Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/stylesheets/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
    
			
					<span class="login100-form-title p-b-33">
						Dashboard Login
					</span>
          <% if(typeof message!= "undefined" && message) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"><%= message %></div>

        <% } %>
					
          <div class="text-center">
					

						<a href="/dashboard/logout" class="login100-form-btn" style="background-color:darkslategrey;">
							Cerrar Sesión
						</a>
					</div>

                    <div class="text-center">
					
                        <br>
                                                <a href="../" class="txt2 hov1">
                                                    Ir a Inicio
                                                </a>
                                            </div>
			
			
			</div>
		</div>
	</div>
	

	
<!--===============================================================================================-->
	<script src="/stylesheets/vendor/jquery/jquery.min.js"></script>
<!--===============================================================================================-->
	<script src="/stylesheets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/stylesheets/vendor/bootstrap/js/popper.js"></script>
	<script src="/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/stylesheets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="/stylesheets/js/main.js"></script>

</body>
</html>

