<%- include ../layouts/header_dashboard.ejs %> 

       <!-- Container Fluid-->
       <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Inicio/Crear Usuario</h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Pagina Principal</a></li>
            <li class="breadcrumb-item">Dashboard</li>
 
          </ol>
        </div>
       
        <!-- Row -->
        <div class="row">
          <!-- Datatables -->
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">| Formulario para crear un usuario | </h6>
              </div>
 
              <div class="card-body">
                <h5 class="card-title">Datos del Usuario:</h5>
                <p class="card-text">

                  
                    <form method="post" action="/dashboard" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="my-input">Nombre Usuario:</label>
                            <input id="my-input" class="form-control" type="text" minlength="5" maxlength = "100"  name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="my-input">Contraseña:</label>
                            <input id="my-input" class="form-control" type="password" pattern=".{5,}$" required title="Mínimo cinco caracteres" maxlength = "40" autocomplete="off" name="password" required>
                        </div>
                        <div class="form-group">
                          <label for="my-input">Repeitr Contraseña:</label>
                          <input id="my-input" class="form-control" type="password" pattern=".{5,}$" required title="Mínimo cinco caracteres" maxlength = "40" autocomplete="off" name="password2" required>
                      </div>
                        <div class="form-group">
                            <label for="my-input">Email:</label>
                            <input id="my-input" class="form-control" type="email" autocomplete="off" name="email" maxlength = "30"  required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="my-input">Imagen</label>
                            <input id="my-input" class="form-control-file" type="file" name="file" required>
                        </div>
                        <hr style="background-color:gainsboro;">
                        <div><h4>Acceso a modulos</h4></div>
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="my-input">Juegos</label>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="checkgames" name ="checkgames">
                                <label class="form-check-label" for="flexCheckChecked">
                                  Permitir acceso
                                </label>
                              </div>
                          </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="my-input">Fotos</label>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="checkfotos" name="checkfotos">
                                <label class="form-check-label" for="flexCheckChecked">
                                  Permitir acceso
                                </label>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="my-input">Juego de mesa</label>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="true" id="checkmesa" name="checkmesa">
                              <label class="form-check-label" for="flexCheckChecked">
                                Permitir acceso
                              </label>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="my-input">Ilustraciones</label>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="checkulustraciones" name="checkulustraciones">
                            <label class="form-check-label" for="flexCheckChecked">
                              Permitir acceso
                            </label>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="my-input">Dashboard</label>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="true" id="checkdash" name="checkdash">
                          <label class="form-check-label" for="flexCheckChecked">
                            Permitir acceso
                          </label>
                        </div>
                    </div>
                  </div>
                        </div>
                        <br>
                        <button class="btn btn-success" type="submit" >Guardar</button>
                    <a class="btn btn-primary" href="/dashboard">Cancelar</a>
                    </form>
                  <script>
                      function verificarchecks(){
                        var checkbox1 = document.getElementById('checkgames');
                        if (checkbox1.checked == true)
                        {
                          checkbox1.value = "true";
                        }else{

                          checkbox1.value = "false";
                        }
                        var checkbox2 = document.getElementById('checkfotos');
                        if(checkbox2.checked == true){

                          checkbox2.value = "true";
                        }else{
                          checkbox2.value = "false";
                        }
                        var checkbox3 = document.getElementById('checkmesa');
                        if(checkbox3.checked == true){
                          checkbox3value = "true";
                        }else{
                          checkbox3.value = "false";
                        }
                        var checkbox4 = document.getElementById('checkulustraciones');
                        if(checkbox4.checked == true){
                          checkbox4value = "true";
                        }else{
                          checkbox4.value = "false";
                        }
                        var checkbox4 = document.getElementById('checkdash');
                        if(checkbox4.checked == true){
                          checkbox4value = "true";
                        }else{
                          checkbox4.value = "false";
                        }
                      }

                    /*var checkbox = document.getElementById('checkgames');
                      checkbox.addEventListener("change", validaCheckbox, false);
                      function validaCheckbox()
                      {
                        var checked = checkbox.checked;
                        if(checked == false){
                          checkbox.value = "false";
                        }
                      }*/
                      </script>
                </p>
            </div>
            </div>
          </div>
          <!-- DataTable with Hover -->
      
        </div>





        <!--Row-->

        <!-- Documentation Link -->


        <!-- Modal Logout -->
        

      </div>
      <!---Container Fluid-->

<%- include ../layouts/footer_dashboard.ejs %> 
