<%- include ../layouts/header_dashboard.ejs %> 
<script type="text/javascript" src="/scripts/messages.js"></script>
       <!-- Container Fluid-->
       <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Inicio / Crear usuario <i class="fas fa-user-plus"></i> </h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Pagina Principal</a></li>
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item">Nuevo Usuario</li>
          </ol>
        </div>
       
        <!-- Row -->
        <div class="row">
          <!-- Datatables -->
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">| Formulario para crear un usuario | </h6>
              </div>
 
              <div class="card-body">
                <h5 class="card-title">Datos del Usuario:</h5>

                <% if(typeof message!= "undefined" && message) { %>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert"><%= message %></div>
      
              <% } %>
              <hr style="background-color:gainsboro;">
                <p class="card-text">

                  
                    <form method="post" action="/dashboard" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="my-input">Nombre Usuario:</label>
                            <input id="my-input" class="form-control" type="text" pattern="[ A-Za-zñÑáéíóúÁÉÍÓÚ]{1,50}" required title="Solo caracteres para nombre" minlength="2" maxlength = "50" name="name"  autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="my-input">Contraseña:</label>
                            <input id="my-input" class="form-control" type="password" pattern=".{5,}$" required title="Mínimo cinco caracteres" maxlength = "40" autocomplete="off" name="password" id="password" required>
                        </div>
                        <div class="form-group">
                          <label for="my-input">Confirmar Contraseña:</label>
                          <input id="my-input" class="form-control" type="password" pattern=".{5,}$" required title="Mínimo cinco caracteres" maxlength = "40" autocomplete="off" name="password2" id="password2" required>
                      </div>
                        <div class="form-group">
                            <label for="my-input">Email:</label>
                            <input id="my-input" class="form-control" type="email" autocomplete="off" name="email" maxlength = "30"  required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="my-input">Imagen</label>
                            <input id="my-input" class="form-control-file" type="file" name="file" required>
                        </div>
                        <hr style="background-color:gainsboro;">
                        <div><h4>Acceso a módulos</h4></div>
                        <br>
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="my-input">Inicio</label>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="inicio" name ="inicio">
                                <label class="form-check-label" for="flexCheckChecked">
                                  Permitir acceso
                                </label>
                              </div>
                          </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="my-input">Juegos</label>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="checkgames" name ="checkgames">
                                <label class="form-check-label" for="flexCheckChecked">
                                  Permitir acceso
                                </label>
                              </div>
                          </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="my-input">Fotos</label>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="checkfotos" name="checkfotos">
                                <label class="form-check-label" for="flexCheckChecked">
                                  Permitir acceso
                                </label>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="my-input">Juego de mesa</label>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="true" id="checkmesa" name="checkmesa">
                              <label class="form-check-label" for="flexCheckChecked">
                                Permitir acceso
                              </label>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="my-input">Ilustraciones</label>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="checkulustraciones" name="checkulustraciones">
                            <label class="form-check-label" for="flexCheckChecked">
                              Permitir acceso
                            </label>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="my-input">Dashboard</label>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="true" id="checkdash" name="checkdash">
                          <label class="form-check-label" for="flexCheckChecked">
                            Permitir acceso
                          </label>
                        </div>
                    </div>
                  </div>
                        </div>
                        <br>
                        <button class="btn btn-success" type="submit">Guardar <i class="fas fa-check-circle"></i></button>
                        <a class="btn btn-primary" href="/dashboard">Cancelar <i class="fas fa-chevron-circle-left"></i></a>
                    </form>
                </p>
            </div>
            </div>
          </div>
          <!-- DataTable with Hover -->
      
        </div>





        <!--Row-->

        <!-- Documentation Link -->


        <!-- Modal Logout -->
        

      </div>
      <!---Container Fluid-->

<%- include ../layouts/footer_dashboard.ejs %> 
